/*CSS stylesheet*/

.container {
			margin: 0 auto;
			width: 960px;
			
			
}


.nameBar {
			width: 480px;
			float: left;
			display: inline;

}

.navBar {
			width: 480px;
			float: right;
			display: inline;


}

.contentBox {
				width: 960px;
				float: left;
				padding: 10px 10px 10px 10px;



}

.aboutMe {
			width: 650px;
			float: left;
}

.contactBox {
				width: 270px;
				float: right;

}
				
.contactBox:after {
					clear: both;
					display: block;
}

.sidebar {
			width: 50px;
			height: 50px;
}
.copyrightBar {

}


h1, h2, h3 {
				font-family: "Georgia", "Times New Roman", Times, serif;

}

h1 {
		color: #fff;
		background-color: teal;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
}

h2, h3 {
		color: teal;
		margin-top: 30px;
		margin-bottom: -5px;
}

a {
	float: right;
	margin: 40px 5px 5px 5px;
	font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
}

p {
	font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
	float: right;
	color: #777;
}

li {
		display: inline;
		text-decoration: none;
}